---
layout: default
---

<section class="home container">

  <section class="featured-articles">
    <div class="left-popular">
      <h2>Most Popular.</h2>
      {% assign most_popular = site.posts | sort: "views" | reverse | limit:1 %}
      {% for post in most_popular %}
        <article class="featured-post">
          <a href="{{ post.url | relative_url }}">
            <div class="image-bg"></div>
            <div class="featured-content">
              <h3>{{ post.title }}</h3>
              <div class="meta">
                <span class="author">by {{ post.author }}</span>
                <span class="date">{% include date.html date=post.date %}</span>
              </div>
            </div>
          </a>
        </article>
      {% endfor %}
    </div>

    <div class="right-most-read">
      <h2>Most Read.</h2>
      <div class="most-read-list">
        {% assign most_read = site.posts | sort: "views" | reverse | offset:1 | limit:4 %}
        {% for post in most_read %}
          <article class="read-post">
            <a href="{{ post.url | relative_url }}">
              <div class="image-bg"></div>
              <h4>{{ post.title }}</h4>
              <div class="meta">
                <span class="author">by {{ post.author }}</span>
                <span class="date">{% include date.html date=post.date %}</span>
              </div>
            </a>
          </article>
        {% endfor %}
      </div>
    </div>
  </section>

</section>

